.c-item{
  height: 50vh;
}

.instagram{
  color: blueviolet;
}

#pantalla-samsung: checked ~ #productos .bateria .portasim .funda .apple .motorola{
  display: none;
}
/*----------------------------------CURSO.HTML---------------------------------------*/
/*

.contenedor-cursos{  
  margin-top: 50px;
  height: 900px;
  background-color: pink;
  display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 30px;
}

.contenedor-titulos-curso{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
height: 200px;
width: 400px;
}

.contenedor-parrafo-curso{
  background-color: tomato;
  height: 200px;
  width: 600px;
}

.titulos{
  background-color: aqua;
  color: green;
  padding: 20px;
}

.parrafos{
  background-color: tomato;
  color: brown;
}


/*--------------------------------------COMO COMPRAR------------------------------------------*/
/*
.titulo-como-comprar{
  display: flex;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
}

.lista-comprar{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem;
}

.ul-comprar{
  list-style:decimal;
}

.garantia{
  display: flex;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  }

  .parrafo-garantia{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
  }

  .condiciones-garantia{
    font-family: 'Roboto Slab', serif;
    margin-left: 144px;
  }

.parrafo-condiciones{
  margin-left: 144px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem; 
}


/*--------------------------------------------Celulares-------------------------------*/
/*
.filtros{
  margin-left: 30px;
  margin-top: 40px;
background-color: aqua;
width: 120px;
padding: 10px;
border-radius: 5px;
height: 400px;
}

.tittle-list{
  display: flex;
  justify-content: center;
  background-color: tomato;
  border-radius: 15px;
  font-family: 'Roboto Slab', serif;
  }

.list-items{
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: 5px 0px 5px 10px ;
  list-style: none;
}

.mother-container{
  display: flex;
  justify-content: space-between;

}
 
.products-container{
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 800px;
  width: 800px;
background-color: tomato;
margin-top: 30px;
margin-right: 100px;
border-radius: 5px;

} 

.product{
  border: solid 2px black;
  border-radius: 5px;
  background-color: blue;
  height: 150px;
  width: 150px;
  margin-top: 25px;
}
 
.fotos-productos{
  height: 100px;
}

/*----------------------------NOSOTROS REPARAMOS------------------------------*/
/*
.background-reparaciones{
  display: flex;
  justify-content: center;
  margin: 40px 0px 40px;
}

.contenedor-reparaciones{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  height: 500px ;
  width: 800px;

}

.tamaño-reparacion{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: aqua;
  border-radius: 10px;
  height: 205px;
  width: 205px;


}

.contenedor-contacto-reparaciones{
  display: flex;
  justify-content: center;


}

.contacto-reparaciones{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
border-radius: 10px;
width: 800px;
background-color: tomato;
}

.titulo-reparacion{
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
}

.subtitulo-reparacion{
  font-family: 'Roboto Slab', serif;
  font-size: 1.rem;
}
