//Usado para el body
$colorBody:#d8b570;
//Usado para icono instagram(fuente)
$colorIg: blueviolet;
//Usado para links(fuente)
$colorLinks:black;
//Usado para fondo de caruseles
$colorCarousel:#fffffecc;
//Usado para el fondo de las card
$colorCard:#E8D58B;
//Primer color de boton
$colorButton1:#F8F4A6;


//Usado para fuente principal
$Roboto:"Roboto", sans-serif;
//Usado para fuente secundaria
$montserrat:'Montserrat', sans-serif;
